/.vscode
/bootloader/.dep
/bootloader/objdir

/bootloader/NEWAE_BL-CWLITEARM.eep
/bootloader/NEWAE_BL-CWLITEARM.hex
/bootloader/NEWAE_BL-CWLITEARM.elf
/bootloader/NEWAE_BL-CWLITEARM.lss
/bootloader/NEWAE_BL-CWLITEARM.map
/bootloader/NEWAE_BL-CWLITEARM.sym
/bootloader/libNEWAE_BL-CWLITEARM.a
/bootloader/ca_bl_workspace.code-workspace
/AppA/.dep/main_A.o.d
/AppA/.dep/simpleserial.o.d
/AppA/.dep/stm32f3_hal.o.d
/AppA/.dep/stm32f3_hal_lowlevel.o.d
/AppA/.dep/stm32f3_sysmem.o.d
/AppA/APP_A-CWLITEARM.eep
/AppA/APP_A-CWLITEARM.elf
/AppA/APP_A-CWLITEARM.hex
/AppA/APP_A-CWLITEARM.lss
/AppA/APP_A-CWLITEARM.map
/AppA/APP_A-CWLITEARM.sym
/AppA/objdir
/AppB/.dep
/AppB/*.eep
/AppB/*.elf
/AppB/*.hex
*.lss
*.map
*.sym
objdir
/ozone_project.jdebug
/*.user
